.landingComponent
{
    background-image: url("../images/flightWalpapper.jpg");
    background-size: contain;
    color: #FFF;
    height: 80vh;
    filter: blur(0.1px);
}
.content
{
    background-color:rgba(0, 0,0, 0.1);
    
}

.slogan
{
    font-size:3rem  !important ;
  
   

}
.sloganMessage
{
    font-size: 1.5rem !important;
}
.btnApply
{
    background-color: var(--primaryColor);
    padding: 10px;
    color: #fff;
    font-weight: 400;
}
.btnApply:hover
{
    background-color:   rgb(78, 50, 217);
    padding: 10px;
    color: #fff;
    font-weight: 400;
}