.pageTitle
{
    color: var(--primaryColor);
}
.profilPhotoContainer
{
    width: 9em;
    height: 9em;
    border-radius: 50%;
    background-color: var(--primaryColor);
    background-position: center center;
    background-size: contain;
}
label
{
    color: var(--primaryColor);
    font-weight: bold;
    
}
.profilUpdateContainer
{
    margin-top: 100px !important;
}
.sectionTitle
{
font-size: 22px !important;
}